/* Import Swiper styles */
@import "swiper/css";
@import "swiper/css/effect-cube";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.slideImg {
  border-radius: 5px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 333px;
}

:root {
  --swiper-pagination-color: #eb4a4c;
}

.sliderIcon {
  font-size: 20px;
  display: flex;
  justify-content: end;
  gap: 10px;
  transition: all 0.3s linear;
}

.swiperIcon {
  color: #ababab;
  transition: all 0.3s linear;
}

.swiperIcon:hover {
  color: #eb4a4c;
  cursor: pointer;
}

.swiperSlide {
  border: 1px solid white;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: all 0.3s ease;
  font-size: 25px;
  background-color: #8080803b;
  position: relative;
}

.swiperSlide p {
  position: absolute;
  top: -45px;
  display: none;
}

.swiperSlide a {
  width: 100%;
  height: 400px;
}

.swiperSlide:hover {
  background-color: #ec3033;
}

.swiperSlide:hover .swiperText {
  display: block;
}

.map {
  background-image: url("../images/map.jpg");
}

.emb {
  background-image: url("../images/emb.webp");
}

.todo {
  background-image: url("../images/todo.avif");
}

.imageSearch {
  background-image: url("../images/search.webp");
}

.vegist {
  background-image: url("../images/vegist.jpg");
}

.quiz {
  background-image: url("../images/quiz.jpg");
}

.weather {
  background-image: url("../images/weather.jpg");
}

.calculator {
  background-image: url("../images/calc.jpg");
}

.tictactoe {
  background-image: url("../images/tictactoe.webp");
}

.searchGitHubProfile {
  background-image: url("../images/SearchGitHubProfile.webp");
}

.taskManager {
  background-image: url("../images/taskManager.jpg");
}
